.image {
  width: 300px;
  height: 300px;
  border-radius: 0.4rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  object-fit: cover;
  margin: 20px auto;
}

.button {
  background-color: rgb(231, 76, 60);
  color: white;
  padding: 0.8rem;
  border-radius: 0.4rem;
  border: none;
  text-align: center;
  width: auto;
  display: block;
  margin: 30px auto 0;
}

.master {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.logo {
  width: auto;
  width: 300px;
  height: auto;
}
